<included>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


       <!-- MDC JSON APPENDER -->
    <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>
    <!--
    <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>
    -->

    <logger name="org.springframework.transaction" level="DEBUG">
        <appender-ref ref="LOCAL_CONSOLE"/>
    </logger>


    <root level="DEBUG">
        <!--<appender-ref ref="CONSOLE"/> -->
        <appender-ref ref="LOCAL_CONSOLE"/>

        <logger name="org.springframework.transaction" level="DEBUG"/>
        <logger name="org.springframework.orm.jpa" level="DEBUG"/>
    </root>

</included>